<div class="admin-container">
  <nav class="admin-nav">
      <button class="nav-btn" [routerLink]="['/admin/datos']" routerLinkActive="active">
          Datos de Administrador
      </button>
      <button class="nav-btn" [routerLink]="['/admin/cupon-admin']" routerLinkActive="active">
          Administración de Cupones
      </button>
      <button class="nav-btn" [routerLink]="['/admin/evento-admin']" routerLinkActive="active">
          Administración de Eventos
      </button>
      <button class="nav-btn" [routerLink]="['/admin/artistas']" routerLinkActive="active">
          Administración de Artistas
      </button>
  </nav>

  <router-outlet></router-outlet>
</div>