<div class="login-container">
    <div class="sidebar">
      <nav>
        <ul>
          <li><a href="/eventos">Eventos</a></li>
          <li><a href="/quienes-somos">Quienes Somos</a></li>
          <li><a href="/contactanos">Contáctanos</a></li>
          <li><a href="/donde-estamos">Donde Estamos</a></li>
          <li class="siguenos">
            <span>Síguenos</span>
            <div class="social-icons">
              <a href="#" class="facebook-icon"><img src="assets/icons/facebook.png" alt="Facebook"></a>
              <a href="#" class="twitter-icon"><img src="assets/icons/twitter.png" alt="Twitter"></a>
              <a href="#" class="instagram-icon"><img src="assets/icons/instagram.png" alt="Instagram"></a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="login-form">
      <h2>Iniciar Sesión</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-icon">
            <img src="assets/icons/email.png" alt="Email icon">
            <input 
              type="email" 
              [(ngModel)]="email" 
              name="email"
              placeholder="Correo electronico"
              required>
          </div>
        </div>
  
        <div class="form-group">
          <div class="input-icon">
            <img src="assets/icons/password.png" alt="Password icon">
            <input 
              type="password" 
              [(ngModel)]="password" 
              name="password"
              placeholder="****************"
              required>
          </div>
        </div>
  
        <button type="submit" class="login-button">Iniciar Sesión</button>
  
        <div class="form-links">
          <a href="#" class="forgot-password">Olvido su contraseña?</a>
          <p class="register-link">No tiene una cuenta? <a href="/registro">Regístrese</a></p>
          <a href="#" class="cancel-link">CANCELAR</a>
        </div>
      </form>
    </div>
  </div>
