<div class="eventos-container">
    <h1>Eventos Destacados</h1>
    <p class="subtitle">Encuentra los mejores eventos cerca de ti</p>
  
    <div class="search-group">
        <div class="search-input-container">
          <span class="search-icon">🔍</span>
          <input type="text" [(ngModel)]="searchTerm" placeholder="Nombre Evento">
        </div>
          
          <div class="select-container">
            <select [(ngModel)]="selectedType">
              <option value="" disabled selected>Tipo Evento</option>
              <option *ngFor="let type of eventTypes" [value]="type">{{type}}</option>
            </select>
          </div>
          
          <div class="select-container">
            <select [(ngModel)]="selectedCity">
              <option value="" disabled selected>Ciudad</option>
              <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
          </div>
        </div>
      
  
    <div class="carousel-container">
      
      
      <div class="events-grid">
        <div class="event-card" *ngFor="let event of filteredEvents()">
          <img [src]="event.imageUrl" [alt]="event.title">
          <div class="event-info">
            <h3>{{event.title}}</h3>
            <p class="subtitle">{{event.subtitle}}</p>
            <p class="date-location">{{event.date}} -{{event.location}}</p>
            <span class="badge" *ngIf="event.available">DISPONIBLE</span>
            <button class="buy-button">Comprar Entradas</button>
          </div>
        </div>
      </div>
  
     
    </div>
  </div>
