<div class="admin-data-container">
    <h3>Actualiza tu información personal</h3>
    
    <div class="form-group">
      <label>Cedula</label>
      <div class="input-with-icon">
        <input type="text" [(ngModel)]="adminData.cedula" disabled>
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Nombre completo</label>
      <div class="input-with-icon">
        <input type="text" [(ngModel)]="adminData.nombreCompleto">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Dirección</label>
      <div class="input-with-icon">
        <input type="text" [(ngModel)]="adminData.direccion">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Teléfono</label>
      <div class="input-with-icon">
        <input type="text" [(ngModel)]="adminData.telefono">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Correo electrónico</label>
      <div class="input-with-icon">
        <input type="email" [(ngModel)]="adminData.correo">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Nueva Contraseña</label>
      <div class="input-with-icon">
        <input type="password" [(ngModel)]="adminData.nuevaContrasena">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="form-group">
      <label>Confirmar Nueva contraseña</label>
      <div class="input-with-icon">
        <input type="password" [(ngModel)]="adminData.confirmarContrasena">
        <button class="edit-btn">
          <img src="assets/icons/edit.png" alt="Editar">
        </button>
      </div>
    </div>
  
    <div class="button-group">
      <button class="action-btn edit">Editar Administrador</button>
      <button class="action-btn delete">Eliminar Administrador</button>
      <button class="action-btn save">Guardar cambios</button>
    </div>
  </div>